# debian/99-camera-setup.rules
ACTION=="add", SUBSYSTEM=="video4linux", KERNEL=="video0", RUN+="/usr/local/bin/set_rpi5_pipeline.sh /dev/v4l-subdev2 /dev/video0"
ACTION=="add", SUBSYSTEM=="video4linux", KERNEL=="video8", RUN+="/usr/local/bin/set_rpi5_pipeline.sh /dev/v4l-subdev5 /dev/video8"